---
// View a list of all filter values

import Layout from "@layouts/Layout.astro";
import { getFilterValues, isFilter } from "@utils/projects";

export async function getStaticPaths() {
    return [
        { params: { filter: "year" } },
        { params: { filter: "tag" } },
        { params: { filter: "lang" } },
    ];
}

const { filter } = Astro.params;
const filterValues = isFilter(filter) ? await getFilterValues(filter) : [];
---

<Layout>
    <h3>{filter}</h3>
    <p>
        {
            filterValues.map((entry) => (
                <span class="link">
                    <a href={`/projects/${filter}/${entry.value}`}>
                        {entry.value}
                    </a>
                    ({entry.count})
                </span>
            ))
        }
    </p>
</Layout>
<style>
    ul {
        list-style: none;
    }

    .link {
        white-space: nowrap;
        display: inline-block;
    }

    .link:not(:last-child) {
        padding-right: 1em;
    }
</style>
