---
// Component that shows one project in a list
// Currently the same as Project.astro

import type { CollectionEntry } from "astro:content";
import LinkList from "@components/LinkList.astro";
interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

let links: { name: string; url: string }[] | undefined = undefined;
if (project.data.links) {
    let projectLinks = project.data.links;
    links = [
        projectLinks.github && { name: "github", url: projectLinks.github },
        projectLinks.demo && { name: "demo", url: projectLinks.demo },
        projectLinks.homepage && { name: "home", url: projectLinks.homepage },
    ].filter((value) => value !== undefined) as { name: string; url: string }[];
}

if (project.data.demo && project.data.demo.includes("youtube.com")) {
    const youtubeUrl = project.data.demo.split("/").pop();
    project.data.image = `https://i3.ytimg.com/vi/${youtubeUrl}/maxresdefault.jpg`;
}
---

<div class="project">
    <div class="project-title">
        <h1>
            <a href={`/projects/${project.slug.split("/").pop()}`}
                >{project.data.name}</a
            >{" "}{project.data.year}
        </h1>
        <h3>{project.data.tagline}</h3>
    </div>
    {
        project.data.image && (
            <img class="project-demo" src={project.data.image} />
        )
    }
    <div class="project-description">
        <p>{project.data.description}</p>
    </div>
</div>

<style>
    .project {
        background-color: var(--bg-1);
        padding: 1.5rem;
        display: grid;
        gap: 20px;
        min-height: 200px;
        border-radius: 25px;

        grid-template:
            "title demo" auto
            "description demo" auto / auto 320px;
    }

    .project:not(:is(:first-child)) {
        margin-top: 20px;
    }

    .project-title {
        grid-area: title;
    }

    .project-demo {
        grid-area: demo;
        width: 320px;
        height: 200px;
        object-fit: contain;
    }

    .project-description {
        grid-area: description;
    }

    .project h1 {
        margin: 0;
    }

    .project h3 {
        margin: 0;
    }

    @media only screen and (max-width: 800px) {
        .project {
            grid-template:
                "title" auto
                "demo" auto
                "description" auto / auto;
        }
    }
</style>
