---
// Component that shows one project in a list
// Currently the same as Project.astro

import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import LinkList from "@components/LinkList.astro";
interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

let links: { name: string; url: string }[] | undefined = undefined;
if (project.data.links) {
    let projectLinks = project.data.links;
    links = [
        projectLinks.github && { name: "github", url: projectLinks.github },
        projectLinks.demo && { name: "demo", url: projectLinks.demo },
        projectLinks.homepage && { name: "home", url: projectLinks.homepage },
    ].filter((value) => value !== undefined) as { name: string; url: string }[];
}
---

<div class="project">
    <div class="project-title">
        <h2>
            <a href={`/projects/${project.slug.split("/").pop()}`}
                >{project.data.name}</a
            >{" "}{project.data.year}
        </h2>
        <h3>{project.data.tagline}</h3>
    </div>
    {
        (project.data.demo && (
            <iframe
                class="project-demo"
                width="320"
                height="200"
                src={project.data.demo + "?mute=1"}
            />
        )) ||
            (project.slug === "2023/ohaizac-dev" && (
                <iframe
                    class="project-demo"
                    width="320"
                    height="200"
                    src="https://ohaizac.dev"
                />
            )) ||
            (project.data.image && (
                <Image
                    alt={
                        project.data.image_alt ??
                        "Screenshot of " + project.data.name
                    }
                    class="project-demo"
                    width="320"
                    height="200"
                    src={project.data.image}
                />
            ))
    }
    <div class="project-description">
        <p>{project.data.description}</p>
    </div>
</div>

<style>
    .project {
        background-color: var(--bg-1);
        padding: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 200px;
    }

    .project-demo {
        grid-area: demo;
        width: 320px;
        height: 200px;
        object-fit: contain;
        object-position: right;
    }

    .project h1 {
        margin: 0;
    }

    .project h3 {
        margin: 0;
    }

    @media only screen and (max-width: 800px) {
        .project {
            grid-template:
                "title" auto
                "demo" auto
                "description" auto / auto;
        }

        .project-demo {
            object-position: left;
        }
    }
</style>
