---
// Base layout of my website

interface Props {
	title?: string;
}

import { ViewTransitions } from "astro:transitions";
import { getDateString, getTimezoneString } from "@utils/date";
import "@assets/global.css";

const { title } = Astro.props;

const breadcrumbs = Astro.url.pathname
	.replace("%20", " ")
	.split("/")
	.filter((value) => value !== "");

const footer_links = [
	{
		title: "github",
		url: "https://github.com/zaccnz/",
	},
	{
		title: "linkedin",
		url: "https://linkedin.com/in/zac-cleveland",
	},
	{
		title: "mail@ohaizac.dev",
		url: "mailto:mail@ohaizac.dev",
	},
];

const crumbUrl = (index: number) =>
	"/" + breadcrumbs.slice(0, index + 1).join("/");
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - ohaizac.dev` : "ohaizac.dev"}</title>
		<ViewTransitions />
	</head>
	<body>
		<header>
			<div class="scroll">
				<h1>
					<a href={breadcrumbs.length > 0 ? "/" : null}>ohaizac.dev</a
					>
					<span class="breadcrumbs">
						{
							breadcrumbs.length > 0 &&
								breadcrumbs.map((crumb, i) => (
									<span>
										{i < breadcrumbs.length - 1 ? (
											<a href={crumbUrl(i)}>{crumb}</a>
										) : (
											<>{crumb}</>
										)}
									</span>
								))
						}
					</span>
				</h1>
			</div>
		</header>

		<main>
			<slot />
		</main>
		<footer>
			<ul>
				{
					footer_links.map(({ title, url }) => (
						<li>
							<a href={url}>{title}</a>
						</li>
					))
				}
			</ul>
			<p>
				generated <span title={getTimezoneString()}>
					{getDateString()}
				</span>
			</p>
		</footer>
		<style>
			header,
			footer {
				color: var(--text-1);
				padding: 2rem;
			}

			header {
				user-select: none;
				-webkit-user-select: none;
			}

			header h1 {
				font-size: 2em;
				margin: 1rem 0;
			}

			header .scroll {
				overflow-x: scroll;
				-ms-overflow-style: none;
				scrollbar-width: none;
			}

			header .scroll::-webkit-scrollbar {
				display: none;
			}

			header a {
				color: var(--text-1);
			}

			header a[href] {
				color: var(--accent-1);
			}

			footer a {
				color: var(--accent-1);
			}

			footer ul {
				flex: 1;
				padding-left: 0;
			}

			footer li {
				display: inline;
				margin-right: 1rem;
			}

			footer li > p {
				display: inline;
			}

			main {
				padding: 0rem 2rem;
				color: var(--text-0);
				font-size: 20px;
				line-height: 1.6;
				flex: 1;
			}

			.breadcrumbs > span:not(last-child)::before {
				content: "/";
			}

			body {
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		</style>
	</body>
</html>
